*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px !important; 
}
.display{
    display: flex;
}
.full{
    background-color: hwb(240 2% 73%);
    width: 80px;
    height:100%;
    height: auto;
    min-height:100vh;
    position: fixed;
    /* border-radius:10px */
    /* background-repeat:repeat-y;   */
}
.first{
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    color: white;
    padding-left: 23px;
    padding-top: 15px;
}
.icons{
    color:dimgrey;
    font-size: 21px;
    padding-top: 30px;
    padding-left: 23px;
    padding-bottom: 30px;
}
.bxs-contact{
    color: white;
}
.heading{
    background-color:whitesmoke;
    min-width:100vw;
    width: 100%;
    position: fixed;
    height: 70px;
    margin-left: 80px;
    display: flex;
   }   
.head{
    /* font-size: 20px;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
    margin-left: 20px; */
    /* margin-top: 20px; */
    font-family: "Public sans", sans-serif;
    margin: 0px 0px 0px 20px;
    padding:20px 0px;
    font-size: 20px;
}
#nav{
    /* padding: 0px 6px; */
    padding-left:990px ;
    padding-top: 25px;
    font-size: 16px;
    padding-right: 20px;

}
#nav-space{
    padding-top: 27px;   
    letter-spacing: 25px;
}
.three-columns{
    display: flex;
}
#second{
    position: fixed;
}
.group{
    
    font-family:"Times New Roman";
    font-size: 20px;
    font-weight: bolder;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 10px;
}
.option{

    font-family:"Times New Roman";
    font-size: 20px;
    font-weight: bolder;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 10px;

}
.list1{
     color: #067cf3;
    font-size: 14px;
    padding-left: 110px;
    font-weight: normal;
    font-family:"Times New Roman";
    padding-top: 10px;
    padding-bottom: 10px;
}
.list{
 
    font-size: 14px;
    padding-left: 110px;
    font-weight: normal;
    font-family:"Times New Roman";
    padding-top: 10px;
    padding-bottom: 10px;
}

.vl{
    border-left: 3px solid whitesmoke;
    height: 1000px;
    position:absolute;
    /* padding-left: 50px; */
    margin-left: 250px;
    top: 0;
    margin-top: 70px;
    /* padding-left: 60px; */
  }
  .vl1{
    border-left: 3px solid whitesmoke;
    height: 1000px;
    position:absolute;
    left: 12%;
    margin-left: 56%;
    top: 0;
    margin-top: 70px;
  }
   h4{
    font-family: "Public sans", sans-serif;
    font-size:16px;
    color: black;
    margin-top:120px;
    margin-left: 280px;
    /* position: fixed; */
  }
 .email{
    font-size: 17px;
    font-weight: normal;
    margin-top:20px;
    margin-left: 280px;
    padding-top: 8px;
    /* position: fixed; */

  }
  .bxs-circle{
    font-size: 10px;
    color: red;  
    /* position: fixed; */
  }
  .contact{
    width: 700px;
    padding: 10px;
    margin: 20px 0px;
    margin-left: 280px;
    border-radius: 6px;
    border: none;
    background-color: whitesmoke;   
     /* position: fixed; */
}
.label1{
    font-size: 17px;
    column-gap: 25px;
    font-weight: normal;
    display: grid;
    padding-left: 280px;
    grid-template-columns: repeat(2,auto);
    /* position: fixed; */

}
.name1{
    font-size: 17px;
    font-weight: normal;
    margin-top:2px;
    margin-right: 10px;
    padding-bottom: 20px;
    /* padding-right: 10px; */
    padding-top: 8px;
    /* position: fixed; */

}
.mate{
    width: 330px;
    column-gap:20px;
    /* row-gap:30px ;     */
    padding: 10px;
    border-radius: 6px;
    padding-left: px;
    border: none;
    background-color: whitesmoke;
    /* position: fixed; */

}
.text{
    font-size: 17px;
    font-weight: normal;
    margin-top:20px;
    margin-left: 280px;
    padding-top: 8px;
    /* position: fixed; */

}
.full1{
    width: 700px;
    padding: 10px;
    margin: 20px 0px;
    margin-left: 280px;
    border-radius: 6px;
    border: none;
    background-color: whitesmoke;
    /* position: fixed; */

}
.add{
    font-family: "Public sans", sans-serif;
    font-size:16px;
    color: black;
    margin-top:20px;
    margin-left: 280px;
    /* position: fixed; */

}
.address{
    font-size: 17px;
    font-weight: normal;
    margin-top:20px;
    margin-left: 280px;
    padding-top: 8px;
    /* position: fixed; */
}
.address1{
    width: 700px;
    padding: 10px;
    margin: 20px 0px;
    margin-left: 280px;
    border-radius: 6px;
    border: none;
    background-color: whitesmoke;
    /* position: fixed; */
}
.add2{
    font-size: 17px;
    font-weight: normal;
    margin-top:5px;
    margin-left: 280px;
    padding-top: 8px;
    /* position: fixed; */
}
.need1{
    width: 700px;
    padding: 10px;
    margin: 20px 0px;
    margin-left: 280px;
    border-radius: 6px;
    border: none;
    background-color: whitesmoke;    
    /* position: fixed; */
}
.inout{
    /* margin-left: 160px; */
    margin-top: 110px;
    font-size: 7px;
    font-weight: normal;
    font-family:"Times New Roman";
    display: grid;
    grid-template-columns: repeat(2,200px);
    height: 30px;
    /* width: 195px; */
}
.input{
    margin-left: 60px;
    /* margin-right: 30px; */
    border: 2px solid rgba(128, 128, 128, 0.415);
    width: 165px;
    border-radius: 5px;
    padding: 8px;
    font-family: "Times New Roman";
    font-weight: normal;
    padding-left: 40px;
}
.input:hover{
    background-color: whitesmoke;
}
.input1{
    /* margin-right: 210px; */
    border: 2px solid rgba(128, 128, 128, 0.415);
    width: 115px;
    background-color:rgba(235, 231, 231, 0.99);
    border-radius: 5px;
    padding: 8px ;
    font-family: "Times New Roman";
    font-weight: normal;
    padding-left: 50px;
    margin-left: 40px;
}
.underline{
    margin-top: 30px;
    padding-left: 60px;
}
    .grp{
        font-size: 18px;
        margin-left: 60px;
        margin-top: 40px;
    }
    .click{
        margin-left: 60px;
        margin-top: 15px;
        font-size: 15px;
    }
    .search{
        margin-left:60px ;
        font-family: "Times New Roman";
        padding-top: 10px;
        font-size: 15px;
        font-weight: normal;
        border: 1px solid rgba(128, 128, 128, 0.507);
        height: 20px;
        width: 340px;
        margin-top: 20px;
        border-radius: 5px;
        background-color: whitesmoke;
        padding-left: 10px;
        display: flex;
        padding-bottom: 5px;
    }
    .search i{
        align-self: center;
        letter-spacing: 9px;
    }
    .box1{
        border: 1px solid rgb(221, 221, 221);
        margin-top:20px;
        margin-left: 60px;
        width: 355px;
        border-radius: 5px;
        display: flex;
    }
    #img{
        font-size: 25px;
        padding-top: 15px;
        padding-left: 30px;
        color: rgb(221, 221, 221);
    }
    .inform{
        font-size: 20px;
        padding-right: 14px;
        padding-left: 20px;
        padding-top: 10px;
        color: rgb(221, 221, 221);
    }
    .para1{
        font-size: 16px;
        padding-left: 20px;
        padding-bottom: 20px;
        padding-top: 7px;
        color: rgb(221, 221, 221);
    }
    .box2{
        border: 1px solid rgb(221, 221, 221);
        margin-top:20px;
        margin-left: 60px;
        width: 355px;
        border-radius: 5px;
        display: flex
    }
    #house{
        font-size: 25px;
        padding-top: 15px;
        padding-left: 30px;
        color: rgb(221, 221, 221);
    }
    .info{
        font-size: 20px;
        padding-right: 14px;
        padding-left: 20px;
        padding-top: 10px;
        color: rgb(221, 221, 221);
    }
    .para2{
        font-size: 16px;
        padding-left: 20px;
        padding-bottom: 20px;
        padding-top: 7px;
        color: rgb(221, 221, 221);
    }
    .box3{
        border: 1px solid  rgb(221, 221, 221);
        margin-top:20px;
        margin-left: 60px;
        width: 355px;
        border-radius: 5px;
        display: flex;
    }
    .bx-buildings{
        font-size: 25px;
        padding-top: 15px;
        padding-left: 30px;
        color:rgb(255, 191, 0);
    }
    .company{
        font-size: 20px;
        padding-right: 10px;
        padding-left: 20px;
        padding-top: 10px;
        /* color: rgb(221, 221, 221); */
    }
    .para3{
        font-size: 16px;
        padding-left: 20px;
        padding-bottom: 20px;
        padding-top: 7px;
    }
    .box4{
        border: 1px solid  rgb(221, 221, 221);
        margin-top:20px;
        margin-left: 60px;
        width: 355px;
        border-radius: 5px;
        display: flex;
    }
    .bxs-group{
        font-size: 25px;
        padding-top: 15px;
        padding-left: 30px;
        color:red
    }
    .sale{
        font-size: 20px;
        padding-right: 10px;
        padding-left: 20px;
        padding-top: 10px;
    }
    .para4{
        font-size: 16px;
        padding-left: 20px;
        padding-bottom: 20px;
        padding-top: 7px;
    }
    .box5{
        border: 1px solid  rgb(221, 221, 221);
        margin-top:20px;
        margin-left: 60px;
        width: 355px;
        border-radius: 5px;
        display: flex;
    }
    .bx-target-lock{
        font-size: 25px;
        padding-top: 15px;
        padding-left: 30px;
        color: rgb(221, 221, 221);
    }
    .info1{
        font-size: 20px;
        padding-right: 14px;
        padding-left: 20px;
        padding-top: 10px;
        color: rgb(221, 221, 221);
    }
    .para5{
        font-size: 16px;
        padding-left: 20px;
        padding-bottom: 20px;
        padding-top: 7px;
        color: rgb(221, 221, 221);
    }





